.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body {
  padding: 0;
  margin:0;
  height:100%;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  /*border-bottom: 1px solid #e5e5e5;*/
  /*margin-bottom: 10px;*/
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgba(200,200,200,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(0,0,0,0.4);
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 100%;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    /*margin-bottom: 30px;*/
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container{
  max-width: 100%;
  width: 100%;
  height:100%;
}

.player{
  z-index:1000;
  background-color: lightcyan;
}

.topmost{
  z-index:1000;
}

select{
  -webkit-appearance: menulist !important;
  width:auto !important;
}

.selected{
  border: 5px solid green;
  border-radius: 10px;
}

div {
  overflow: hidden;
}

.dropdown-menu li a{
  padding-left:10px;
  padding-right:10px;
}

.shortcut {
  color:grey;
  font-size:x-small;
  float:right;
  vertical-align: middle;
  padding-top:0.4em;
}

.left{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.center {
  border-radius: 0;
}

.right{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
