<!-- Needed pour faire marcher les web components de cwilso -->
<link rel="import" href="../scripts/components/controls.html" >

<!-- Play/Pause Stop & Record -->
<div>
  <button class="btn btn-primary" style="background-color: #347; border-color: #347;" ng-click="arrangement.playAllTracks()">
    <i class="glyphicon glyphicon-play"></i>
    Play
    /
    <i class="glyphicon glyphicon-pause"></i>
    Pause
  </button>

  <button class="btn btn-primary" style="background-color: #347; border-color: #347;" ng-click="arrangement.stopAllTracks()">
    <i class="glyphicon glyphicon-stop"></i>
    Stop
  </button>
</div>

<hr>


<!-- Panoramique -->
<div>
  <webaudio-knob id="pan1" title="Pan" sprites="30" src="img/fxknob2.png" min="-100" max="100" value="0" width="40" height="40"></webaudio-knob>
</div>


<!-- Volume sliders -->
<div>
  <webaudio-knob id="slider1" title="Volume" src="img/verticalFaderBlue.png" sprites="200" min="0" max="100" value="80" width="25" height="150"></webaudio-knob>
</div>


<!-- Solo & Mute -->
<div>
  <button id="solo">solo</button>
  <button id="mute">mute</button>
</div>


<hr>



<div>
  <webaudio-switch src="img/redbutton.png" sprites="2" width="64" height="64"></webaudio-switch>
</div>

<hr>

<div ng-repeat="track in arrangement.listOfSound" class="col-lg-12">
  <!-- Panoramique -->
  <div class="col-lg-1">
    <div class="col-lg-12">
      <webaudio-knob id="pan{{$index}}" title="Pan" sprites="30" src="img/fxknob2.png" min="-100" max="100" value="0" width="40" height="40"></webaudio-knob>
    </div>


    <!-- Volume sliders -->
    <div class="col-lg-12">
      <webaudio-knob id="slider{{$index}}" title="Volume" src="img/verticalFaderBlue.png" sprites="200" min="0" max="100" value="80" width="25" height="150"></webaudio-knob>
    </div>


    <!-- Solo & Mute -->
    <div class="col-lg-12">
        <button id="solo{{$index}}" class="btn btn-xs">s</button>
        <button id="mute{{$index}}" class="btn btn-xs">m</button>
    </div>
  </div>


  <!-- WaveForm -->
  <div id="wave{{$index}}" class="col-lg-11" style="padding:0">{{$index}}</div>

</div>

<!--
<webaudio-knob src="img/LittlePhatty.png" sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-knob sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-slider src="img/hsliderbody.png"></webaudio-slider>
<webaudio-switch src="img/switch_toggle.png" width="32" height="32"></webaudio-switch>
<webaudio-param src="" link="knob-1"></webaudio-param>
<webaudio-keyboard keys="25" ></webaudio-keyboard>
-->
