<!-- Needed pour faire marcher les web components de cwilso -->
<link rel="import" href="../scripts/components/controls.html" >

<script type="text/ng-template" id="modalTrackEffects.html">
  <div class="modal-header">
    <h3 class="modal-title">Nom de la piste à mettre ici</h3>
  </div>
    <div class="modal-body">
      <div class="col-lg-12">
      <!-- delay -->
      <div class="col-lg-4" style="border: double;">
        <div class="col-lg-6" style="overflow: hidden">
          Time
          <webaudio-knob id="regionDelayTime" title="Time" value="{{delayTime}}" sprites="30" src="img/fxknob2.png" step="0.01" min="0" max="1" value="0" width="40" height="40"></webaudio-knob>
        </div>
        <div class="col-lg-6">
          Gain
          <webaudio-knob id="regionFeedbackGain" title="Gain" value="{{feedbackGain}}" sprites="30" src="img/fxknob2.png" step="0.01" min="0" max="1" value="0" width="40" height="40"></webaudio-knob>
        </div>
      </div>

      <!-- filter -->
      <div class="col-lg-6" style="border: double">
        <div class="col-lg-4">
          Detune
          <webaudio-knob id="regionFilterDetune" title="Detune" value="{{filterDetune}}" sprites="30" src="img/fxknob2.png" step="0.1" min="0" max="100" value="0" width="40" height="40"></webaudio-knob>
        </div>
        <div class="col-lg-4">
          Frequency
          <webaudio-knob id="regionFilterFrequency" title="Frequency" value="{{filterFrequency}}" sprites="30" src="img/fxknob2.png" step="1" min="0" max="3000" value="0" width="40" height="40"></webaudio-knob>
        </div>
        <div class="col-lg-4">
          Gain
          <webaudio-knob id="regionFilterGain" title="Gain" value="{{filterGain}}" sprites="30" src="img/fxknob2.png" step="0.1" min="-100" max="100" value="0" width="40" height="40"></webaudio-knob>
        </div>
      </div>

      <!-- limiter -->
      <div class="col-lg-2" style="border: double">
        Limiter
        <webaudio-knob id="regionFilterLimiter" title="Limiter" value="{{filterLimiter}}" sprites="30" src="img/fxknob2.png" step="0.1" min="0" max="10" value="0" width="40" height="40"></webaudio-knob>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-default" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
  </div>
</script>

  <!--<button type="button" class="btn btn-default" ng-click="open()">Open me!</button>-->
  <!--<button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>-->
  <!--<button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>-->
  <!--<button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>-->
  <!--<div ng-show="selected">Selection from a modal: {{ selected }}</div>-->

<!-- HEADER -->
<div class="col-lg-12" style="z-index:1000;height:10%;max-height: 10%;overflow: hidden;background-color: lightgrey;">

  <div class="col-lg-6">
    <button class="btn btn-primary" ng-click="saveRegions()" ng-disabled="progress === null"><i class="glyphicon glyphicon-floppy-open"></i></button>
    <button class="btn btn-primary" ng-click="loadRegions()" ng-disabled="progress === null"><i class="glyphicon glyphicon-floppy-save"></i></button>

    <button type="button" class="btn btn-primary" ng-click="openModal('modalMusic', 'ModalMusicCtrl')">Load Music...</button>

    <!--<select id="selectedMusic">
      <option ng-repeat="music in musics">
        {{music.musicName}}
      </option>
    </select>

    <button class="btn btn-primary" id="loadSamples" ng-click="loadRemoteSamples()">Load Samples</button>-->
    <button class="btn btn-primary" ng-click="loadLocalSamples()">Local Samples</button>
    <!-- Button trigger modal -->
    <!-- Small modal -->



    <!-- Split button -->
    <div class="btn-group" uib-dropdown dropdown-append-to-body>
      <button id="split-button" type="button" class="btn btn-danger" ng-click="saveAs()" ng-disabled="progress === null">
        <i class="glyphicon glyphicon-cloud-upload"></i>&nbspSave as...
      </button>
      <button type="button" class="btn btn-danger" uib-dropdown-toggle ng-disabled="progress === null">
        <span class="caret"></span>
        <span class="sr-only">Split button!</span>
      </button>
      <ul uib-dropdown-menu role="menu" aria-labelledby="split-button" style="cursor: pointer;">
        <li role="menuitem" ng-click="save()"><a>Save <span class="shortcut">Ctrl+S</span></a></li>
        <li role="menuitem" ng-click="saveAs()"><a>Save as... <span class="shortcut">Ctrl+Shift+S</span></a></li>
        <li role="menuitem" ng-click="clearStorage()"><a>Clear Storage</a></li>
      </ul>
    </div>

    <button type="button" ng-if="progress !== null" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Available Mix</button>

    <!--<select ng-if="progress !== null" ng-model="selectedMix" ng-options="mix as mix.replace('MixMaze_', '') for mix in listOfMix" ng-change="loadMix(selectedMix)">
      <option value="">&lt;Select a Mix&gt;</option>
    </select>-->
  </div>


  <!-- delay -->
  <div class="col-lg-2" style="border: double;">
    <div class="col-lg-6" style="overflow: hidden">
      Time
      <webaudio-knob id="delayTime" title="Time" value="{{delayTime}}" sprites="30" src="img/fxknob2.png" step="0.01" min="0" max="1" value="0" width="40" height="40"></webaudio-knob>
    </div>
    <div class="col-lg-6">
      Gain
      <webaudio-knob id="feedbackGain" title="Gain" value="{{feedbackGain}}" sprites="30" src="img/fxknob2.png" step="0.01" min="0" max="1" value="0" width="40" height="40"></webaudio-knob>
    </div>
  </div>

  <!-- filter -->
  <div class="col-lg-3" style="border: double">
    <div class="col-lg-4">
      Detune
      <webaudio-knob id="filterDetune" title="Detune" value="{{filterDetune}}" sprites="30" src="img/fxknob2.png" step="0.1" min="0" max="100" value="0" width="40" height="40"></webaudio-knob>
    </div>
    <div class="col-lg-4">
      Frequency
      <webaudio-knob id="filterFrequency" title="Frequency" value="{{filterFrequency}}" sprites="30" src="img/fxknob2.png" step="1" min="0" max="3000" value="0" width="40" height="40"></webaudio-knob>
    </div>
    <div class="col-lg-4">
      Gain
      <webaudio-knob id="filterGain" title="Gain" value="{{filterGain}}" sprites="30" src="img/fxknob2.png" step="0.1" min="-100" max="100" value="0" width="40" height="40"></webaudio-knob>
    </div>
  </div>

  <!-- limiter -->
  <div class="col-lg-1" style="border: double">
    Limiter
    <webaudio-knob id="filterLimiter" title="Limiter" value="{{filterLimiter}}" sprites="30" src="img/fxknob2.png" step="0.1" min="0" max="10" value="0" width="40" height="40"></webaudio-knob>
  </div>
</div>

<style>
  .track-selected{
    background-color: #00b3ee;
  }
</style>

<!-- WAVES -->
<div class="col-lg-12" style="overflow: auto; height:{{selectedRegion !== null ? '70' : '80'}}%;position: fixed;top:10%;">
  <div ng-repeat="track in listOfSound track by $index" class="col-lg-12" style="border:2px solid black; border-radius:10px;"
  ng-style="{'border-top':$index!==0?'0':'2px solid black'}">
    <div id="track{{$index}}" class="col-lg-1" data-ng-class="{'track-selected':trackSelected===$index}" style="border-radius:10px;border-right:2px solid black;height:128px;padding-right:0;margin-right:15px;margin-left:-15px;" ng-click="selectTrack($index)">
      <!-- Panoramique -->
      <div class="col-lg-12 debrief">
        {{nameRecover(track)}}
      </div>

      <!-- Volume sliders -->
      <div class="col-lg-12 debrief">
        <webaudio-knob id="pan{{$index}}" title="Pan" sprites="30" src="img/fxknob2.png" min="-100" max="100" value="0" width="32" height="32"></webaudio-knob>
        <webaudio-knob id="slider{{$index}}" title="Volume" src="img/knob_med_red.png" sprites="30" min="0" max="100" value="100" width="50" height="50" ng-init="sliders['slider' + $index] = 100" ng-mousedown="volumeStart()" ng-mousemove=""></webaudio-knob>
      </div>


      <!-- Solo & Mute -->
      <div class="col-lg-12 debrief">
        <button id="solo{{$index}}" class="btn btn-xs" ng-class="{'btn-info':smState[$index]== 'solo'}" ng-click="updateSm($index, 'solo')">s</button>
        <button id="mute{{$index}}" class="btn btn-xs" ng-class="{'btn-info':smState[$index]== 'mute'}" ng-click="updateSm($index, 'mute')">m</button>
      </div>
    </div>

    <!-- WaveForm -->
    <div id="wave{{$index}}" class="col-lg-11" style="padding:0"></div>

  </div>
</div>

<!-- EFFECTS -->
<div class="col-lg-12" style="height:10%;top:80%;position:fixed;background-color:lightblue;" ng-if="selectedRegion !== null">
  <div class="col-lg-12">&nbsp</div>
  <div class="col-lg-6">
    <button class="btn btn-primary">
      <i class="glyphicon glyphicon-edit" ng-click="openTrackEffects()"> Effects</i>
    </button>
    <button type="button" class="btn btn-primary check" ng-model="arrangement.isLoopingOnRegion" ng-click="loopRegion($event)" uib-btn-checkbox ng-disabled="progress === null">
      <i class="glyphicon glyphicon-repeat"></i>
    </button>
  </div>

  <div class="col-lg-3">
    <div class="col-lg-4 btn btn-primary left" ng-class="{'active':hasEffect('mute')}"
         ng-click="toggleSoundEffect('mute')">
      Mute
    </div>
    <div class="col-lg-4 btn btn-primary center" ng-class="{'active':hasEffect('fadein')}"
         ng-click="toggleSoundEffect('fadein')">
      Fade In
    </div>
    <div class="col-lg-4 btn btn-primary right" ng-class="{'active':hasEffect('fadeout')}"
         ng-click="toggleSoundEffect('fadeout')">
      Fade Out
    </div>
  </div>

  <div class="col-lg-3">
    <div class="btn btn-primary" ng-click="deselectRegion()">Deselect &nbsp&nbsp<span class="shortcut" style="color:lightgray">Esc</span></div>
    <div class="btn btn-danger" ng-click="deleteRegion()">Remove &nbsp&nbsp<span class="shortcut" style="color:lightgray">Del</span></div>
  </div>

</div>

<!-- FOOTER LOADING -->
<div class="col-lg-12" style="height:10%;position:fixed;bottom:0;background-color: lightgray;margin:0;" ng-if="progress === null && nbTrack !== 0">
  <!-- STEP1 : DOWNLOAD -->
  <div class="col-lg-12" style="height:33%">
    <div class="col-lg-1" style="text-align: right">Download : </div>
    <div class="col-lg-11">
      <uib-progressbar class="progress-striped active" value="download" max="nbTrack" style="margin:2px;">{{getPercent(download, nbTrack)}}%</uib-progressbar>
    </div>
  </div>

  <!-- STEP2 : DECODE -->
  <div class="col-lg-12 footer-progress" style="height:33%">
    <div class="col-lg-1" style="text-align: right">Decoding : </div>
    <div class="col-lg-11">
      <uib-progressbar class="progress-striped active" value="decode" max="nbTrack" style="margin:2px;">{{getPercent(decode, nbTrack)}}%</uib-progressbar>
    </div>
  </div>

  <!-- STEP3 : BUFFER -->
  <div class="col-lg-12" style="height:33%">
    <div class="col-lg-1" style="text-align: right">Buffering : </div>
    <div class="col-lg-11">
      <uib-progressbar class="progress-striped active" value="buffer" max="nbTrack" style="margin:2px;">{{getPercent(buffer, nbTrack)}}%</uib-progressbar>
    </div>
  </div>
</div>

<!-- FOOTER PLAYING -->
<div class="col-lg-12" style="height:10%;position:fixed;bottom:0;background-color: lightgray;" ng-show="progress !== null">
    <div class="col-lg-3">
      <div class="col-lg-5">
        <button class="btn btn-primary" ng-disabled="progress === null" style="background-color: #347; border-color: #347;" ng-click="playAllTracks()">
          <i ng-if="!listOfWaves[1].isPlaying()" class="glyphicon glyphicon-play"></i>
          <i ng-if="listOfWaves[1].isPlaying() " class="glyphicon glyphicon-pause"></i>
        </button>
        <button class="btn btn-primary" ng-disabled="progress === null" style="background-color: #347; border-color: #347;" ng-click="stopAllTracks()">
          <i class="glyphicon glyphicon-stop"></i>
        </button>

        <button type="button" class="btn btn-primary check" ng-model="isLoopingTrack" uib-btn-checkbox ng-click="loopTrack(isLoopingTrack, $event);" ng-disabled="progress === null">
          <i class="glyphicon glyphicon-repeat"></i>
        </button>

        <button class="btn btn-primary" ng-click="reinitSm()" ng-disabled="progress === null">R S/M</button>
      </div>

      <div class="col-lg-5">
        <!-- Panoramique -->
        <div class="col-lg-6">
          <webaudio-knob id="panGeneral" title="Pan" sprites="30" src="img/fxknob2.png" min="-100" max="100" value="0" width="40" height="40"></webaudio-knob>
        </div>
        <!-- Volume Knob -->
        <div class="col-lg-6">
          <webaudio-knob id="sliderGeneral" title="Volume" src="img/knob_med_red.png" sprites="30" min="0" max="100" value="{{generalVolume}}" width="50" height="50" ng-mousemove=""></webaudio-knob>
        </div>
      </div>
    </div>

    <!-- PROGRESS -->
    <div class="col-lg-7" style="padding: 0;">
      <div class="col-lg-12">
        <div class="col-lg-10"><h4 style="font-weight: bolder;">{{songName}}</h4></div>
        <div class="col-lg-2" style="text-align: right"><h4>{{timeFormat(progress)}} / {{timeFormat(duration)}}</h4></div>
      </div>
      <div class="col-lg-12">
        <uib-progressbar class="progress-striped active" value="progress" max="duration"></uib-progressbar>
      </div>
    </div>

    <div class="col-lg-2">
      Zoom : {{zoomLevel}}%
      <input type="range" style="width: 100%" max="300" min="100" ng-model="zoomLevel" ng-init="zoomLevel=100" ng-change="zoom(zoomLevel)">
    </div>

    <!-- TODO : Move to top frame-->
    <!--<div class="col-lg-3 rating noselect">-->
      <!--<uib-rating class="noselect" ng-model="rate" max="5" readonly="progress === null" on-hover="hoveringOver(value)" on-leave="overStar = null" aria-labelledby="default-rating" ng-if="progress!==null"></uib-rating>-->
    <!--</div>-->

    <!--<div class="col-lg-1">-->
      <!--<webaudio-switch src="img/redbutton.png" sprites="2" width="64" height="64"></webaudio-switch>-->
    <!--</div>-->

</div>

<div class="modal fade bs-example-modal-lg" id="modalMix" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <label>Search: <input ng-model="searchText"></label>
      <div ng-repeat="mix in listOfMix | filter:searchText">
        <a ng-click="loadMix(mix)">
        {{mix}}
        </a>
      </div>
    </div>
  </div>
</div>
<!--
<webaudio-knob src="img/LittlePhatty.png" sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-knob sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-slider src="img/hsliderbody.png"></webaudio-slider>
<webaudio-switch src="img/switch_toggle.png" width="32" height="32"></webaudio-switch>
<webaudio-param src="" link="knob-1"></webaudio-param>
<webaudio-keyboard keys="25" ></webaudio-keyboard>
-->
