<!-- Needed pour faire marcher les web components de cwilso -->
<link rel="import" href="../scripts/components/controls.html" >

<select id="selectedMusic">
  <option ng-repeat="music in musics">
    {{music.musicName}}
  </option>
</select>

<div>
  <button id="loadSamples" ng-click="arrangement.loadSamples()">Load Samples</button>
</div>

<div class="col-lg-2" style="border: double">
  <div class="col-lg-6">
    delay
    <webaudio-knob id="delayTime" title="delay time" value="{{arrangement.delayTime}}" sprites="30" src="img/fxknob2.png" step="0.01" min="0" max="1" value="0" width="40" height="40"></webaudio-knob>
  </div>
  <div class="col-lg-6">
    feedback
    <webaudio-knob id="feedbackGain" title="feedback gain" value="{{arrangement.feedbackGain}}" sprites="30" src="img/fxknob2.png" step="0.01" min="0" max="1" value="0" width="40" height="40"></webaudio-knob>
  </div>
</div>

<div class="col-lg-3" style="border: double">
  <div class="col-lg-4">
    detune
    <webaudio-knob id="filterDetune" title="feedback gain" value="{{arrangement.filterDetune}}" sprites="30" src="img/fxknob2.png" step="0.1" min="0" max="100" value="0" width="40" height="40"></webaudio-knob>
  </div>
  <div class="col-lg-4">
    frequency
    <webaudio-knob id="filterFrequency" title="feedback gain" value="{{arrangement.filterFrequency}}" sprites="30" src="img/fxknob2.png" step="1" min="0" max="3000" value="0" width="40" height="40"></webaudio-knob>
  </div>
  <div class="col-lg-4">
    gain
    <webaudio-knob id="filterGain" title="feedback gain" value="{{arrangement.filterGain}}" sprites="30" src="img/fxknob2.png" step="0.1" min="0" max="100" value="0" width="40" height="40"></webaudio-knob>
  </div>
</div>



<div ng-repeat="track in arrangement.listOfSound" class="col-lg-12">
  <hr>
  <div class="col-lg-1">
    <!-- Panoramique -->
    <div class="col-lg-12">
      <webaudio-knob id="pan{{$index}}" title="Pan" sprites="30" src="img/fxknob2.png" min="-100" max="100" value="0" width="40" height="40"></webaudio-knob>
    </div>


    <!-- Volume sliders -->
    <div class="col-lg-12">
      <webaudio-knob id="slider{{$index}}" title="Volume" src="img/verticalFaderBlue.png" sprites="200" min="0" max="100" value="80" width="25" height="150" ng-init="arrangement.sliders['slider' + $index] = 80" ng-mousedown="arrangement.volumeStart()" ng-mousemove=""></webaudio-knob>
    </div>


    <!-- Solo & Mute -->
    <div class="col-lg-12">
      <button id="solo{{$index}}" class="btn btn-xs" ng-class="{'btn-info':arrangement.smState[$index]== 'solo'}" ng-click="arrangement.updateSm($index, 'solo')">s</button>
      <button id="mute{{$index}}" class="btn btn-xs" ng-class="{'btn-info':arrangement.smState[$index]== 'mute'}" ng-click="arrangement.updateSm($index, 'mute')">m</button>
    </div>
  </div>

  <!-- WaveForm -->
  <div id="wave{{$index}}" class="col-lg-11" style="padding:0">{{arrangement.nameRecover(track)}}</div>

</div>

<!--
<webaudio-knob src="img/LittlePhatty.png" sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-knob sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-slider src="img/hsliderbody.png"></webaudio-slider>
<webaudio-switch src="img/switch_toggle.png" width="32" height="32"></webaudio-switch>
<webaudio-param src="" link="knob-1"></webaudio-param>
<webaudio-keyboard keys="25" ></webaudio-keyboard>
-->


<div class="col-lg-3 jumbotron topmost" style="padding:0;margin:0;position: fixed;top:0;right:25px;" ng-if="selectedRegion">
  {{selectedRegion}} : {{arrangement.effects[selectedRegion]}}
  <br>
  <button class="btn btn-primary" ng-click="arrangement.effects[selectedRegion]['mute']=!arrangement.effects[selectedRegion]['mute']">Mute</button>
  <button class="btn btn-primary" ng-click="arrangement.effects[selectedRegion]['fadein']=!arrangement.effects[selectedRegion]['fadein']">Fade in</button>
  <button class="btn btn-primary" ng-click="arrangement.effects[selectedRegion]['fadeout']=!arrangement.effects[selectedRegion]['fadeout']">Fade out</button>
</div>

<div class="col-lg-12 jumbotron player" style="padding:0;margin:0;position:fixed;bottom:0;left:0;right:0">
  <div class="col-lg-4">
    <button class="btn btn-primary" ng-disabled="arrangement.nbReadyTracks !== arrangement.listOfSound.length || arrangement.listOfSound.length === 0" style="background-color: #347; border-color: #347;" ng-click="arrangement.playAllTracks()">
      <i class="glyphicon glyphicon-play"></i>
      Play
      /
      <i class="glyphicon glyphicon-pause"></i>
      Pause
    </button>
    <button class="btn btn-primary" ng-disabled="arrangement.nbReadyTracks !== arrangement.listOfSound.length || arrangement.listOfSound.length === 0" style="background-color: #347; border-color: #347;" ng-click="arrangement.stopAllTracks()">
      <i class="glyphicon glyphicon-stop"></i>
      Stop
    </button>
  </div>
  <!-- Panoramique -->
  <div class="col-lg-1">
    <webaudio-knob id="panGeneral" title="Pan" sprites="30" src="img/fxknob2.png" min="-100" max="100" value="0" width="40" height="40"></webaudio-knob>
  </div>
  <!-- Volume Knob -->
  <div class="col-lg-2">
    <webaudio-knob id="sliderGeneral" title="Volume" src="img/LittlePhatty.png" sprites="100" min="0" max="100" value="{{arrangement.generalVolume}}" ng-init="arrangement.generalVolume = 80" width="64" height="64" ng-mousemove=""></webaudio-knob>
  </div>

  <div class="col-lg-4">
    <button ng-click="arrangement.reinitSm()">reinit Solo/Mute</button>
  </div>

  <div class="col-lg-1">
    <webaudio-switch src="img/redbutton.png" sprites="2" width="64" height="64"></webaudio-switch>
  </div>

</div>
