<div ng-keypress="keyPressed($event)">
  <div class="modal-header">
    <h3 class="modal-title">Users list</h3>
    <div class="pull-right">
      <label>Filter</label>
      <input type="text" ng-model="search">
    </div>
  </div>
  <div class="modal-body">
    <!--<input type="text" ng-model="name" style="width:100%;" id="nameTextArea" autofocus>-->

    <uib-accordion close-others="true">
      <uib-accordion-group ng-repeat="user in listOfUsers | filter:search" ng-click="getUserDetails(user.pseudo)">
        <uib-accordion-heading>
          {{user.pseudo}}
          <span class="pull-right" ng-if="hasRights(1)">
            <button class="btn btn-primary" style="padding: 0 2px;">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button class="btn btn-danger" style="padding: 0 2px;" ng-click="openModalDeleteUser(user.pseudo)">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
        </uib-accordion-heading>

        <fieldset>
          <legend>Informations :</legend>
          <div class="col-lg-6">
            Email : {{user.email}}
          </div>
          <div class="col-lg-6">
            Role : {{user.role}}
          </div>
        </fieldset>
        <hr>
        <fieldset>
          <legend>Mixes :</legend>
          <!-- TODO : Handle mixes list whence available -->
          &ltWork In Progress&gt
          <br>
          {{details}}
        </fieldset>
      </uib-accordion-group>
    </uib-accordion>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary btn-default" type="button" ng-click="ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
  </div>
</div>
