<div ng-keypress="keyPressed($event)">
  <div class="modal-header">
    <h3 class="modal-title">Music list</h3>
    <div class="pull-right">
      <label>Filter</label>
      <input type="text" ng-model="search">
    </div>
  </div>
  <div class="modal-body">
    <!--<input type="text" ng-model="name" style="width:100%;" id="nameTextArea" autofocus>-->

    <uib-accordion close-others="true" >
      <uib-accordion-group ng-repeat="music in musics | filter:search" ng-click="getSongMixes(music.musicName)">
        <uib-accordion-heading>
          {{music.musicName}}</span>
          <span class="pull-right" ng-if="hasRights(1)">
            <button class="btn btn-primary" style="padding: 0 2px;">
              <i class="glyphicon glyphicon-edit"></i>
            </button>
            <button class="btn btn-danger" style="padding: 0 2px;">
              <i class="glyphicon glyphicon-remove"></i>
            </button>
          </span>
        </uib-accordion-heading>
        <fieldset>
          <legend>Tracks <span class="badge">{{music.musicFiles.length}}</span> : </legend>
          <div class="col-lg-12" ng-repeat="track in music.musicFiles">
            {{track}}
          </div>
        </fieldset>
        <hr>
        <fieldset>
          <legend>Mixes <span class="badge">{{details.length}}</span> : </legend>
          <!-- TODO : Handle mixes update and deletion -->
          <div class="col-lg-12" ng-repeat="mix in details">
            {{mix.name}}<span style="color:darkgray"> - {{mix.owner}}</span>
            <div class="pull-right" style="margin-right:50px;" ng-if="hasRights(1)">
              <button class="btn btn-primary" style="padding: 0 2px;">
                <i class="glyphicon glyphicon-edit"></i>
              </button>
              <button class="btn btn-danger" style="padding: 0 2px;">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </div>
            <hr class="simple" ng-if="hasRights(1)">
          </div>
        </fieldset>
      </uib-accordion-group>
    </uib-accordion>
  </div>
  <div class="modal-footer">
    <!--<button class="btn btn-primary btn-default" type="button" ng-click="ok()">OK</button>-->
    <!--<button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>-->
  </div>
</div>
