<div ng-keypress="keyPressed($event)">
  <div class="modal-header">
    <h3 class="modal-title">Select a mix</h3>
  </div>
  <div class="modal-body">
    <div class="col-lg-2"><label>Search: </label></div>
    <div class="col-lg-10"><input type="text" ng-model="searchText" autofocus style="width:100%;"></div>
    <hr class="col-lg-12 simple" style="margin-bottom: 15px;margin-top: 15px">
    <div class="simple jumbotron col-lg-12 row" ng-repeat="mix in listOfMix | filter:searchText track by $index" style="cursor:pointer;margin-bottom: 2px" ng-click="loadMix(mix);ok();">
      <h4>{{mix}}</h4>
    </div>
  </div>
</div>
