<!-- Play/Pause Stop & Record -->
<div>
  <button class="btn btn-primary" style="background-color: #347; border-color: #347;" ng-click="waveSurferTest.playPause()">
    <i class="glyphicon glyphicon-play"></i>
    Play
    /
    <i class="glyphicon glyphicon-pause"></i>
    Pause
  </button>

  <button class="btn btn-primary" style="background-color: #347; border-color: #347;" ng-click="waveSurferTest.stop()">
    <i class="glyphicon glyphicon-stop"></i>
    Stop
  </button>
</div>

<hr>


<!-- Panoramique -->
<div>
  <input data-action="pan" type="range" min="-45" max="45" value="0" style="width: 35px" />
</div>


<!-- Volume sliders -->
<div>
  <canvas nx="slider" min="0" max="100"></canvas>
</div>


<!-- Solo & Mute -->
<div>
  <canvas id="solo" nx="toggle" width="16" height="16"></canvas>
  <canvas id="mute" nx="toggle" width="16" height="16"></canvas>
</div>

<hr>


<!-- WaveForm -->
<div id="wave">Track 1</div>

<hr>

<canvas nx="dial" min="0" max="100" label="freq"></canvas>


<!-- Needed pour faire marcher les web components de cwilso -->
<link rel="import" href="../scripts/components/controls.html" >

<webaudio-knob src="img/LittlePhatty.png" sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-knob sprites="100" min="0" max="100"></webaudio-knob>
<webaudio-slider src="img/hsliderbody.png"></webaudio-slider>
<webaudio-switch src="img/switch_toggle.png" width="32" height="32"></webaudio-switch>
<webaudio-param src="" link="knob-1"></webaudio-param>
<webaudio-keyboard keys="25" ></webaudio-keyboard>
